header {
    text-align: center;
    background: rgb(41, 39, 131);
    margin-top: 0;
    margin-bottom: 0;
    height: 60px;
}

header h1 {
    margin: 0;
    padding-top: 5px;
    color: azure;
}

.container {
    border:solid 1px #000;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 1.5%;
}

.item {
    /* align-content: center; */
    border:solid 1px #000;
    background-color: gray;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.item p {
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    font-size: 150%;
    margin: 0;
}

.speaker_img {
    /* border:solid 1px #000; */
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background: white;
}

.speaker_img img {
    /* border:solid 1px #000; */
    padding-left: 10px;
    padding-top: 5px;
    max-width: 80%;
    height: auto;
}

.buttons {
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    /* border:solid 1px #000; */
    display: flex;
}
.buttons button {
    /* border:solid 1px #000; */
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.buttons .pred {
    padding: 10px 95px; 
}

h2 {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
}
li {
    margin: 0;
}